{% extends './base.html.twig' %}

{% block header %}
    <link rel="stylesheet" href="../public/css/homepage.css">
    <meta name="description" content="Track CSGO medals, levels, and Steam user data with our API.">
    <meta name="keywords" content="CSGO, tracking, API, medals, levels, Steam, profile, data">
    <meta name="author" content="darby">
    <title>{{title}}</title>
{% endblock %}

{% block content %}    
    <div class="container">
        <h1 class="logo">{{welcomeMessage}}</h1>
    </div>
{% endblock %}